* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  color: #fff;
  font-family: Arial, sans-serif;
}

h2 {
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}

h3 {
  font-size: 12pt;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1400px;
}

header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 10px;
  background: #111;
}

header div {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

img.logo {
  width: 50px;
  height: 54px;
}

nav {
  display: flex;
  gap: 10px;
}

nav a {
  background: #b30000;
  padding: 6px 18px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-size: 11pt;
}

nav a:hover {
  background: rgba(208, 0, 0, 0.547);
}

.nav-items,
.profile-nav-items {
  text-align: center;
  align-items: center;
}

.search-box {
  margin-left: auto;
  min-width: 0;
  position: relative;
  border-color: #b30000;
}

.search-box input {
  min-width: 0;
  padding: 6px 15px;
  border-radius: 20px;
  border: 2px solid #b30000;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgb(14, 13, 13);
  color: black;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 450px;
  z-index: 50;
  overflow-y: auto;
}

.dropdown-item {
  border-bottom: 1px solid #f3f4f6;
  transition: background-color 0.2s ease;
  border-color: #b30000;
}

.show-more {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  padding: 8px 0;
  cursor: pointer;
  border-bottom: none;
}
.show-more:hover {
  color: #ba2626;
  background-color: #222;
}

.dropdown-item span {
  position: absolute;
  font-size: 14pt;
  align-self: center;
  justify-content: center;
  padding-left: 5%;
}

.dropdown-item:hover {
  background-color: #333;
}

.dropdown-item.active {
  background: #e20c0c;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-icon:hover {
  border-radius: 50%;
  border: 1px solid #b30000;
}

.red-button {
  background: #b30000;
  padding: 6px 18px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-size: 11pt;
  border-style: none;
}

.red-button:hover {
  background: #d00000;
}

.avatar-upload-form {
  display: none;
}

.flag {
  width: 35px;
}

.slider {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}

.theater-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slide {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider h2 {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 45px;
  color: white;
  z-index: 10;
  text-shadow: 3px 3px 5px black;
}

.slider-title {
  position: relative;
  width: 100%;
  font-size: 20px;
  padding-bottom: 5%;
  color: white;
  z-index: 10;
  text-shadow: 3px 3px 5px black;
}

.section-title {
  font-size: 20pt;
  margin: 50px 0 15px;
}

a:hover,
a:visited,
a:link,
a:active {
  color: white;
  text-decoration: none;
}

.category-row,
.media-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
  text-align: center;
  background: #111;
  position: relative;
  overflow: hidden;
  filter: brightness(70%);
  border: 2px solid #454545;
}

.card img {
  width: 100%;
  height: 100%;
}

.card:hover {
  filter: brightness(100%);
  color: white;
  border: 2px solid #b30000;
}

.card span {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Anton";
  font-size: 18px;
}

.login-wrapper {
  text-align: center;
  margin-top: 120px;
}

.login-wrapper h2 {
  font-size: 42px;
  margin-bottom: 25px;
  text-shadow: 3px 3px 5px black;
}

.login-box input {
  display: block;
  width: 270px;
  margin: 10px auto;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background: #b30000;
  color: white;
  font-size: 16px;
}

.login-box button {
  width: 150px;
  margin-top: 10px;
  padding: 10px;
  background: #b30000;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background: #d00000;
}

.login-extra {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.login-extra a {
  color: #d00000;
  text-decoration: none;
  font-weight: bold;
}

.info-section {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
  padding-bottom: 60px;
}

.info-card {
  background: rgba(0, 0, 0, 0.65);
  border: 1px solid #333;
  width: 350px;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

.social-icons img {
  width: 60px;
  margin: 8px;
}

.qr img {
  width: 150px;
}

.form-card {
  background: #8a0000;
  border: 2px solid #b30000;
  margin-top: 60px;
  padding: 25px;
  text-align: center;
  border-radius: 12px;
}

.form-card h2 {
  font-size: 32px;
  margin-bottom: 18px;
}

.form-card input,
.form-card textarea {
  width: 260px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin: 8px auto;
  display: block;
  background: #111;
  color: white;
}

.form-card button {
  background: #b30000;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}

.form-card button:hover {
  background: #d00000;
}

.list-section {
  margin-top: 60px;
  text-align: center;
}

#searchBox {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-bottom: 25px;
  background: #111;
  color: white;
}

.group-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 700px;
  margin: auto;
}

.groups-search {
  text-align: center;
  margin-top: 50px;
}

.groups-wrapper {
  text-align: center;
}

.groups-wrapper h2 {
  font-size: 42px;
  margin-bottom: 25px;
  text-shadow: 3px 3px 5px black;
}

.groups-info {
  display: grid;
  gap: 12px;
  justify-content: center;
}

.group-card {
  background: #111;
  border: 2px solid #b30000;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 350px;
}

.group-info {
  margin-bottom: 10px;
}

.group-card span {
  font-size: 18px;
}

.group-card:hover {
  border: 2px solid #510000;
}

.group-card button {
  background: #b30000;
  border: none;
  color: white;
  padding: 6px 15px;
  border-radius: 15px;
  cursor: pointer;
}

.group-card button:hover {
  background: #d00000;
}

.group-requests {
  margin-top: 10px;
  padding: 15px;
  background: #1a1a1a;
  border-radius: 8px;
}

.member-block {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-bottom: 1rem;
}

.member {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  text-align: center;
}

.requests-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.request-card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background: #111;
  border: 2px solid #333;
  border-radius: 8px;
}

.request-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.request-card button {
  margin-left: auto;
  margin-right: 5px;
}

.profile-section {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 120px;
  flex-wrap: wrap;
}

.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.review-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.review-text {
  overflow-wrap: anywhere;
}

.avatar img {
  border-radius: 50%;
  border: 4px solid #b30000;
  width: 100%;
  height: 100%;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.profile-avatar {
  width: 50px;
  height: 50px;
}

.profile-info {
  flex: 1;
}

.profile-info h2 {
  font-size: 42px;
  margin-bottom: 10px;
}

.profile-info p {
  margin-bottom: 8px;
  line-height: 1.5;
  color: #ccc;
}

.settings-container {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.settings-btn {
  background: #b30000;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.settings-dropdown {
  display: none;
  flex-direction: column;
  background: #111;
  border: 1px solid #333;
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 10;
  border-radius: 6px;
}

.settings-dropdown button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px 18px;
  text-align: left;
  cursor: pointer;
}

.settings-dropdown button:hover {
  background: #b30000;
}

.group-section-title {
  font-size: 20pt;
  text-shadow: 3px 3px 5px black;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 15px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 15px;
}

.movie-card {
  background: #111;
  border: 2px solid #333;
  height: 160px;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-card .no-poster {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card .movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 8px;
}

.movie-card .movie-title {
  font-size: 12px;
  margin: 0;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card .movie-year {
  font-size: 10px;
  margin: 2px 0 0 0;
  color: #999;
}

.movie-card-link {
  display: block;
  width: 100%;
  height: 100%;
}

.favorite-remove-btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ff4444;
  border: 1px solid #ff4444;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.2s;
}

.favorite-remove-btn:hover {
  background-color: #ff4444;
  color: white;
}

.activity-list {
  margin-top: 20px;
  list-style: none;
  color: #ccc;
  font-size: 14px;
}

.activity-list li {
  padding: 6px 0;
  border-bottom: 1px solid #333;
}

.group-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px;
  margin-top: 40px;
}

.group-img {
  width: 100%;
  height: 250px;
  background: #222;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #999;
}

.btn-red {
  background: #b30000;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 6px;
  padding: 10px 15px;
  margin-top: 15px;
  width: 100%;
  cursor: pointer;
}

#movieCard {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem;
  padding: 0.6rem;
}

#movieHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

#movieText {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

#movieCard img {
  max-height: 30rem;
}

.btn-red:hover {
  background: #d00000;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
}

footer a {
  color: #fffdfd;
  text-decoration: none;
  margin: 0 5px;
}

#story {
  resize: none;
}

.loading {
  position: fixed;
  left: 55%;
  top: 50%;
  z-index: 1;
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(103, 1, 1);
  border-right: 16px solid rgb(131, 1, 1);
  border-bottom: 16px solid rgb(208, 2, 2);
  border-left: 16px solid rgb(244, 86, 112);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: -76px 0 0 -76px;
}

.page-wrapper {
  min-height: calc(100vh - 58px - 100px);
  position: relative;
}

@media (max-width: 800px) {
  .nav-items {
    margin: auto;
  }

  .nav-items .mobile-hide {
    display: none;
  }

  .groups-wrapper h2 {
    font-size: 32px;
  }

  .red-button {
    padding: 6px 12px;
  }

  .profile-section {
    margin-top: 5%;
  }

  .review {
    align-items: center;
    text-align: center;
  }

  #movieText,
  #movieHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #movieCard {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .member,
  .group-layout {
    margin-top: 0;
    text-align: center;
    justify-content: center;
  }
  .profile-section,
  .profile-nav-items {
    text-align: center;
    justify-content: center;
  }

  .movie-grid,
  .group-layout,
  .category-row,
  .media-row {
    grid-template-columns: 1fr;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .slider {
    height: auto;
  }

  .slide h2 {
    font-size: 32px;
  }

  .slider-title {
    text-align: center;
  }

  .section-title {
    font-size: 28px;
    text-align: center;
  }
}
