* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: #fff;
    font-family: Arial, sans-serif;
}
h2, h3 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}
.container {
    width: 100%;
    margin: auto;
    max-width: 1400px;
}

/* ===== NAVIGAATIO ===== */

header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 10px;
    background: #111;
}

header div {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

img.logo {
    width: 50px;
    height: 50px;
}
nav {
    display: flex;
    gap: 10px;
}
nav a {
    background: #B30000;
    padding: 6px 18px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 11pt;
}

.nav-items {
    text-align: center;
    align-items: center;
}

.search-box {
    margin-left: auto;
}

.search-box input {
    padding: 6px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.flag {
    width: 35px;
}

/* ===== HERO SLIDER ===== */
.slider {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}
.slide {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider h2 {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 45px;
    color: white;
    z-index: 10;
    text-shadow: 3px 3px 5px black;
}

/* ===== KATEGORIAT ===== */
.section-title {
    font-size: 20pt;
    margin: 50px 0 15px;
}
.category-row,
.media-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.card {
    background: #111;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}
.card span {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Anton';
    font-size: 24px;
}

/* ===== FOOTER ===== */
footer {
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}
footer a {
    color: #fffdfd;
    text-decoration: none;
    margin: 0 5px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
    .category-row,
    .media-row {
        grid-template-columns: repeat(2, 1fr);
    }
    .slider { height: 300px; }
    .section-title { font-size: 28px; }
}
@media (max-width: 600px) {
    nav { display: none; }
    .slider { height: 250px; }
    .category-row,
    .media-row {
        grid-template-columns: 1fr;
    }
}

#kummeliPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.85);
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    padding: 25px 40px;
    border: 2px solid #b30000;
    border-radius: 12px;
    display: none;
    z-index: 9999;
    text-align: center;
}
